.country-search {
    position: relative;
}

.country-list {
    position: absolute;
    top: 100%;
    text-decoration: none;
    border: 1px solid #6c6c6c;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
}

.country-list > li {
    padding: 1rem;
}

.country-list > li:hover {
    cursor: pointer;
    transition: .5s ease;
    background-color: rgba(0,0,0,.2);
}
