<div class="well">
  <h2>Enter a country and a zipcode:</h2>
  <app-country-search (countryCodeUpdate)="onCountryCodeUpdate($event)"></app-country-search>
  <input type="text" #zipcode placeholder="Zipcode" class="form-control">
  <br>
  <app-stateful-button [status]="status" (statefulButtonClick)="addLocation(zipcode.value)" >
    <ng-template appTemplate="default">Add location</ng-template>
    <ng-template appTemplate="started">Adding...</ng-template>
    <ng-template appTemplate="done"><i class="bi bi-check2-circle"></i> Done</ng-template>
  </app-stateful-button>
</div>
